GEMINI_API_KEY_1=
GEMINI_API_KEY_2=

GROQ_API_KEY_1=
GROQ_API_KEY_2=

OPENROUTER_API_KEY_1=
OPENROUTER_API_KEY_2=

OPENAI_API_KEY_1=
OPENAI_API_KEY_2=

AI_GEMINI_ENABLED=true
AI_GROQ_ENABLED=true
AI_OPENROUTER_ENABLED=true
AI_OPENAI_ENABLED=true